/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.arrow_outward {
  display: inline-block;
  background-size: cover;
  width: 24px;
  height: 24px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward.png?raw=true");
}

.arrow_right {
  display: inline-block;
  background-size: cover;
  width: 100px;
  height: 100px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/trending_flat_black_24dp%201.png?raw=true");
}

.arrow_outward_light {
  display: inline-block;
  background-size: cover;
  width: 24px;
  height: 24px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward-white.png?raw=true");
}

.discord {
  border-radius: 40px;
  display: inline-block;
  background-size: cover;
  width: 162px;
  height: 162px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/discord.png?raw=true");
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.instagram {
  display: inline-block;
  width: 162px;
  height: 162px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/instagram.png?raw=true");
}

.message {
  display: inline-block;
  width: 162px;
  height: 162px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/message.png?raw=true");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Bruno Ace SC", cursive;
  line-height: 1.5;
}

.text-light {
  color: #FFF;
}

.text-dark {
  color: #000;
}

.text-green {
  color: #00FFA3;
}

.bg-light {
  background-color: #FFF;
}

.bg-dark {
  background-color: #000;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 24px;
}

img {
  display: block;
  object-fit: cover;
}

.d-flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.jce {
  justify-content: end;
}

.alc {
  align-items: center;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.text-right {
  text-align: right;
}

.text-dark {
  color: #000;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  background-color: #000;
  color: #D1D1D1;
  padding: 0 -61px;
}
.navbar li {
  padding: 40px 61px 0 61px;
}
.navbar li a {
  color: #FFF;
}

.main {
  margin-top: 88px;
}

.main_content {
  padding: 72px 0;
}

.btn {
  border-radius: 32px;
  padding: 12px 24px;
  vertical-align: middle;
}

.intro_wrap {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 160px 0;
}
.intro_wrap .intro_content {
  width: 41.66666667%;
  color: #FFF;
}
.intro_wrap .intro_content h2 {
  margin-bottom: 36px;
}
.intro_wrap .intro_content p {
  margin-bottom: 32px;
}
.intro_wrap .intro_image {
  width: 58.33333333%;
}

.about_wrap {
  padding: 160px 0;
}
.about_wrap .about_detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  width: 50%;
}
.about_wrap .about_detail .card {
  padding: 16px;
  border: 1px solid #E3E3E3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
.about_wrap .about_detail .card p {
  font-size: 20px;
}
.about_wrap .about_detail .card p:last-child {
  font-size: 16px;
}
.about_wrap .about_main {
  width: 41.66%;
}
.about_wrap .about_main h2 {
  margin-bottom: 36px;
}

.contact_wrap {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  padding: 129px 0;
}
.contact_wrap h2 {
  margin-right: 16px;
}
.contact_wrap li {
  margin-right: 20px;
}
.contact_wrap .contact_icon {
  margin-right: -20px;
}

.project_wrap {
  padding: 160px 0;
}
.project_wrap h2 {
  margin-bottom: 16px;
  width: 58.333%;
}
.project_wrap .project_content p {
  font-size: 16px;
}

.footer {
  padding: 40px 0;
  font-size: 16px;
}

.flex-column {
  flex-direction: column;
}

.me-24 {
  margin-right: 24px;
}

.ms-24 {
  margin-left: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33333333%;
}

.w-66 {
  width: 66.66666667%;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.text-center {
  text-align: center;
}/*# sourceMappingURL=all.css.map */